.scarea {
    -fx-current-line-fill: #fffae3;
    -fx-font: 14 'monospace';
}

.scarea.read-only .content {
     -fx-background-color: #eee;
}

.scarea .content .text {
    -fx-fill: #333;
}

.scarea .content {
    -fx-padding: 6 6;
}

.scarea .gutter {
    -fx-padding: 0 8 0 4;
    -fx-background-color: #eee;
    -fx-border-color: #ccc;
    -fx-border-width: 0 1 0 0;
}

.scarea .gutter .line-number {
    -fx-fill: #a0a0a0;
}

.scarea .corner {
    -fx-background-color: derive(-fx-base,-1%);
}

/***** A default colour scheme for syntax highlighting *****/

.scarea .content .syntax-keyword { -fx-fill: #008; -fx-font-weight: bold;}
.scarea .content .syntax-softKeyword { -fx-fill: #008; -fx-font-weight: bold;}
.scarea .content .syntax-modifier { -fx-fill: #008; -fx-font-weight: bold;}

.scarea .content .syntax-string { -fx-fill: #080; -fx-font-weight: bold; }
.scarea .content .syntax-string-exp { -fx-fill: black; -fx-underline: true; }
.scarea .content .syntax-comment { -fx-fill: #888; -fx-font-style: italic; }
.scarea .content .syntax-command { -fx-fill: #808; -fx-font-weight: bold; }
.scarea .content .syntax-annotation { -fx-fill: #880; }
.scarea .content .syntax-paren { -fx-fill: #c3c; }
.scarea .content .syntax-brace { -fx-fill: #3cc; }
.scarea .content .syntax-bracket { -fx-fill: #da0; }
.scarea .content .syntax-semicolon { -fx-fill: #979; }
.scarea .content .syntax-number { -fx-fill: #00f; }

.scarea .content .rectangle.syntax-pair { -fx-fill: #9fc; }
.scarea .content .text.syntax-pair { -fx-fill:black; }

.scarea .content .rectangle.syntax-error { -fx-fill: #f99; }
.scarea .content .text.syntax-error { -fx-fill: #800; }

/***** See HighlightIdenticalWords class *****/

.scarea .content .rectangle.word-matching { -fx-fill: #ffe4ff; }
.scarea .content .text.word-matching { -fx-fill:black; }

.scarea .content .rectangle.word-matched { -fx-fill: #e4e4ff; }
.scarea .content .text.word-matched { -fx-fill:black; }


/***** For the ui package (go to line dialog, and find/replace toolbars) *****/

.scarea-form {
    -fx-padding: 10px;
    -fx-spacing: 10px;
    -fx-alignment:  center;
    -fx-fill-height: true;
}

.scarea-buttons {
    -fx-alignment: center-right;
    -fx-padding: 10px;
    -fx-hgap: 10px;
}

.scarea-buttons .button {
    -fx-min-width: 80px;
}

.scarea-find-bar .match-case,
.scarea-find-bar .match-regex {
    -fx-padding: 0 16 0 0;
}
.scarea-find-bar .match-words {
    -fx-padding: 0 4 0 0;
}
